.jumbotron {
  padding-top: 6rem;
}
.btn {
  width: 150px;
  height: 50px;
}
.p_about {
  margin-top: 1rem;
}
section {
  padding-top: 5rem;
}
.home_title {
  font-size: 2.5rem;
}

body {
  background-color: rgb(235, 235, 235);
}
.background {
  background-color: #636ED2;
}
.bg-instagram {
  background-color: #D82D7E;
}
.bg-whatsapp {
  background-color: #128C7E;
}
.navbar-color,
.footer-color,
.background-card{
  background-color: #636ED2;
}

.color-icon-instagram{
  color: #D82D7E;
}
.color-icon-whatsapp{
  color: #128C7E;
}